@import '../../shared/styles/styles.variables.scss';
@import '../../shared/styles/styles.mixins.scss';

.projectDetailsContainer {
    padding-top: calc(7% + 7rem);

    .projectdetails {
        margin-bottom: 4%;

        h1 {
            margin-bottom: 4%;
            font: normal 400 7vw sans-serif; 
        }
    
        p {
            margin-bottom: 4%;
            max-width: 40ch;
            padding-left: 2%;
            font: normal 400 1.6rem sans-serif; 
            line-height: 1.5;
        }

        button {
            width: 16rem;
            height: 16rem;
            padding-inline: 3rem;
            border: none;
            border-radius: 50%;
            background: #333;
            cursor: pointer;

            position: absolute;
            right: 5%;
            top: -8rem;

            span {
                color: #fff;
                font: normal 400 1.6rem sans-serif;

                &.arrow {
                    font-size: 3rem !important;
                }
            } 
        }

        img {
            height: auto;
            margin-top: 3%;
        }
    }

    .projectPlayer {
        width: 100%;
        height: auto;
        padding: 10rem 1.5rem;
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        div {
            width: 77%;
            border-radius: 20px;
            height: 74%;
            background: red;
            position: absolute;
            top: 50%;
            z-index: -1;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}