@import '../../shared/styles/styles.variables.scss';

.modalContainer {
    width: 30em;
    height: 20em;
    overflow: hidden;
    pointer-events: none;
    background-color: $theme-light-clr;

    .modalSlider {
        transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);

        .modal {
            img {
                height: auto;
            }
        }
    }
}

.cursor, 
.cursorLabel {
    z-index: 2;
    width: 8rem;
    height: 8rem;
    font-weight: 300;
    font-size: 1.4rem;
    border-radius: 50%;
    pointer-events: none;
    color: $theme-light-clr;
    background-color: #455CE9;
}

.cursorLabel {
    background-color: transparent;
}