.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
        transition: filter 0.5s ease-in-out;
    }
}

.loading {
    img {
        filter: blur(20px);  /* Apply a blur effect while loading */
    }
}