@import '../../shared/styles/styles.mixins.scss';
@import '../../shared/styles/styles.variables.scss';

.selectedWorkContainer {
    padding-top: 15rem;

    /*
    .project {
        transition: all 0.2s;
    
        &:last-of-type {
            margin-bottom: $__seperat_text;
            border-bottom: 0.1rem solid #e5e7eb;
        }
    
        &:hover {
            .project__name {
                h2, p {
                    opacity: 0.3;
                }
            }
        }

        h2 {
            font-size: 14vw;
            @include fontStylePrimary;

            @media screen and (min-width: 520px) {
                font-size: 7rem;
            }
        }
    
        &__name {
            h2, p {
                transition: all 0.4s;
                @include fontStylePrimary;
            }

            p {
                font-size: 1.4rem;
            }
        }
    }
    */
}