.aboutPage {
    .changeMood {
        padding: 0.5rem 1.5rem;
        border-radius: 5rem;
        border-width: 0.1em;
        border-style: solid;
        background: transparent;
        font-size: 1.5rem;
        font-family: roboto;
        font-style: normal;
        font-weight: 400;
        margin-top: 4%;
        cursor: pointer;

        @media (max-width: 720px) {
            margin-top: 3rem;
        }
    }

    .heading {
        margin: 2% auto; 
        font-size: 7vw;
        font-family: roboto;
        font-style: normal;
        font-weight: 700;
        width: 18ch;
        line-height: 1;

        @media (max-width: 720px) {
            width: 100%;
            font-size: 9vw;
            margin: 2rem auto;
        }
    }

    .sayingHello {
        p { 
            font-size: 1.8rem;
            font-family: roboto;
            font-style: normal;
            font-weight: 400;
            width: fit-content;

            span {
                width: 1.2rem;
                height: 1.2rem;
                margin: 0 0.5em 0.2em 0
            }
        }

        img  {
            width: 35rem;
            height: 45rem;
            object-fit: cover;

            @media (max-width: 480px) {
                width: 100%
            }
        }
    }

    p {
        font-size: 1.6rem;
        font-family: roboto;
        font-style: normal;
        font-weight: 400;
        width: 70ch;
        margin-top: 3%;

        @media (max-width: 720px) {
            width: 100%;
            margin-top: 1.5rem;
        }
    }

    .packageWrapper {
        margin: 10% auto 15% auto;

        h2 {
            font-size: 4.8rem;
            font-family: roboto;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 6rem;
        }

        .packageContainer {
            gap: 3%; 

            .package {
                width: calc(100% / 3);

                div {
                    font-size: 1.2rem;
                    font-family: roboto;
                    font-style: normal;
                    font-weight: 400;
                    padding-bottom: 2.4rem;
                    border-bottom-width: 0.1em;
                    border-bottom-style: solid;
                    opacity: 0.5
                }

                h3 {
                    font-size: 2.9rem;
                    font-family: roboto;
                    font-style: normal;
                    font-weight: 400;
                    padding: 4rem 0;
                }

                p {
                    font-size: 1.6rem;
                    font-family: roboto;
                    font-style: normal;
                    font-weight: 400;
                    width: 42ch
                }
            }
        }
    }
}