@import '../../shared/styles/styles.variables.scss';

.footerContainer {
    background-color: $theme-dark-clr;

    .footerContent {
        padding-block: 3rem;

        .socials {
            @media (max-width: 920px) {
                justify-content: center;
            }

            h5 {
                opacity: 0.7;
                color: #fff;
                line-height: 1;
                font-weight: 400;
                font-size: 1.2rem;
                font-family: Roboto;

                @media (max-width: 920px) {
                    line-height: 2.5;
                    text-align: center;
                }
            }

            ul {
                @media (max-width: 920px) {
                    justify-content: center;
                }

                li {
                    @media (max-width: 920px) {
                        margin-top: 1.5rem;
                        text-align: center;
                    }

                    &:not(:last-child) {
                        margin-right: 1.5rem;
                    }

                    a {
                        font-size: 1.6rem;
                        color: #fff;
                        font-family: Roboto;
                    }
                }
            }
        }
    }
}