// Colors
$theme-light-clr: #ffffff;
$theme-dark-clr: #1C1D20;

$primary-clr: #1C1D20;

$__color-text: #1C1D20;

$section-title-clr: #000000;

// Fonts
$ff-primary: Roboto;
$fz-primary: 1.6rem;

//
$__seperat_text: 4rem;

// Hero section
$__header-height: 4em;
$__btn-bg-clr: #1C1D20;