@import '../../styles/styles.mixins.scss';
@import '../../styles/styles.variables.scss';

.sectionTitle {
    margin-bottom: 2%;

    h6 {
        opacity: .6;
        color: $section-title-clr;
        font: normal 400 2rem sans-serif;
    }
}