@import '../../styles/styles.mixins.scss';
@import '../../styles/styles.variables.scss';

.sectionTitle {
    margin-bottom: $__seperat_text;

    h6 {
        opacity: 0.4;
        text-transform: uppercase;
        font-size: $fz-primary;
        font-weight: 400;
        @include fontStylePrimary;
        color: $section-title-clr;
    }
}