@import '../../shared/styles/styles.mixins.scss';
@import '../../shared/styles/styles.variables.scss';

.sectionTitle {
    margin-bottom: $__seperat_text;

    h6 {
        font-size: $fz-primary;
        @include fontStylePrimary;
        color: $section-title-clr;
    }
}