.headerContainer {
    padding-block: 1.5rem;

    h6 {
        font-weight: 400;
        font-size: 1.6rem;
        font-family: Roboto;
    }

    .links {
        a {
            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }
}