@import '../styles/styles.mixins.scss';

.headerContainer {
    padding-top: 1.5rem;
    height: $__header-height;
    background: transparent;

    a h1 {
        font-size: 2em;
        font-weight: 700;
        @include fontStylePrimary;
    }

    .links {
        a {
            &:not(:last-child) {
                margin-right: 3rem;

                @media (max-width: 720px) {
                    margin-right: 1.5rem;
                }
            }

            h6 {
                font-weight: 400;  
                font-size: 1.6rem;
                text-transform: uppercase;
                @include fontStylePrimary;

                @media (max-width: 380px) { 
                    font-size: 1.4rem;
                }
            }
        }
    }
}