@import '../../shared/styles/styles.variables.scss';

.footerContainer {
    $__clr: white; 

    color: $__clr;
    font-family: sans-serif;
    background: #333;
    overflow-x: hidden;

    .footerContent {
        padding-block: 4vh 3rem;

        .footerContactCredits {
            display: flex;
            gap: 2vw;

            .footerCol {
                font: normal 400 1.2em sans-serif;
                line-height: 1.5;

                flex-basis: calc(100% / 3);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 5rem;

                button {
                    color: $__clr;
                    border: none;
                    outline: none;
                    background: transparent;
                }
            }
        }

        h5 {
            margin-top: 10vh;
            text-align: center;
            font: normal 900 12vw sans-serif;
        }
    }

    .mb-1 {
        margin-bottom: .5rem;
    }
}