.workPage {
    padding-block: 7%;

    .workPageTitle {
        margin-bottom: 4%;
        font: normal 400 7vw sans-serif; 

        @media (min-width: 1024px) {
            max-width: 80%;
        }
    }

    .projects {
        margin-top: 8%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 5vw;
    }
}